<main class="{{pageMainClass}}">
		<h1>{{title}}</h1>
		<p>{{msg}}</p>

<!-- /.container -->
<form action='/indivCar' method='POST'>
 <div class="container">
<!-- /.row -->
   <div class="row pad1">
     <div class="col-md-3 bg-info">


  <label>Brand</label>
  <div aria-labelledby="dropdownMenuButton">
      <select class="btn btn-secondary dropdown-toggle btn-sm" name="brands">
      		<option value=""></option>
          {{#each brands}}
            <option value="{{this}}">{{this}}</option>
          {{/each}}
      </select>
  </div>
</div>
<!-- </div> -->

  <div class="col-md-2 bg-warning"><!-- /.Drop down button -->

      <label>Models</label>
      <div aria-labelledby="dropdownMenuButton">

      <select class="btn btn-secondary dropdown-toggle btn-sm" name="models">
      		<option value=""></option>
          {{#each models}}
            <option value="{{this}}">{{this}}</option>
          {{/each}}
            </select>

      </div>
    </div>

</div>
</div>

<!-- /.row -->
   <div class="row pad1">
     <div class="col-md-4 bg-info">

      <label>mpg</label>
      <div aria-labelledby="dropdownMenuButton">

      <select class="btn btn-secondary dropdown-toggle btn-sm" name="mpg">
      	<option value=""></option>
        {{#each mpg}}
          <option value="{{this._id}}">{{this.title}}</option>
        {{/each}}
      </select>

      </div>
</div>

<div class="col-md-4 bg-warning"><!-- /.Drop down button -->

      <label>fuel</label>
      <div aria-labelledby="dropdownMenuButton">

      <select class="btn btn-secondary dropdown-toggle btn-sm" name="fuel">
      	<option value=""></option>
        {{#each fuel}}
          <option value="{{this}}">{{this}}</option>
        {{/each}}
      </select>

      </div>
</div>
</div>

<!-- /.row -->
<div class="row pad1">
  <div class="col-md-4 bg-info">
    <label>door</label>
    <div aria-labelledby="dropdownMenuButton">
      <select class="btn btn-secondary dropdown-toggle btn-sm" name="door">
      	<option value=""></option>
          {{#each door}}
        <option value="{{this}}">{{this}}</option>
          {{/each}}
      </select>
    </div>
  </div>

  <div class="col-md-4 bg-warning"><!-- /.Drop down button -->
    <label>Seats</label>
    <div aria-labelledby="dropdownMenuButton">
      <select class="btn btn-secondary dropdown-toggle btn-sm" name="seats">
      	<option value=""></option>
          {{#each seat}}
        <option value="{{this}}">{{this}}</option>
          {{/each}}
      </select>
    </div>

</div>
</div>

<!-- /.row -->
   <div class="row pad1">
     <div class="col-md-4 bg-info">

<!-- /.Drop down button -->
      <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle btn-sm" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Blank
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">a</a>
    <a class="dropdown-item" href="#">b</a>
    <a class="dropdown-item" href="#">c</a>
  </div>
  </div>
</div>

  <div class="col-md-4 bg-warning"><!-- /.Drop down button -->
    <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle btn-sm" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Blank
    </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#">a</a>
      <a class="dropdown-item" href="#">b</a>
      <a class="dropdown-item" href="#">c</a>
      </div>
    </div>

</div>
</div>

<!-- /.row -->
   <div class="row pad1">
     <div class="col-md-4 bg-info">

<!-- /.Drop down button -->
      <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle btn-sm" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Blank
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">a</a>
    <a class="dropdown-item" href="#">b</a>
    <a class="dropdown-item" href="#">c</a>
  </div>
  </div>
</div>

  <div class="col-md-4 bg-warning"><!-- /.Drop down button -->
    <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle btn-sm" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Blank
    </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#">a</a>
      <a class="dropdown-item" href="#">b</a>
      <a class="dropdown-item" href="#">c</a>
      </div>
    </div>

</div>
</div>

     <!-- /.row submit button -->
   <div class="row">
	   <div class="col-md-4 bg-danger mt-n1">
      {{!-- <a class="nav-link" href="/indivCar"> --}}<input class="btn btn-primary" type="submit" value="Submit">{{!-- </a> --}}
     </div>
   </div>

 </div>
</form>
</main>