<main class="{{advSearch}}">
		<h1>{{title}}</h1>
		<p>{{msg}}</p>

		<form action="/" method="POST">
            <select name="brands">
                {{#each brands}}
                    <option value="{{this.id}}">{{this.title}}</option>
                {{/each}}
            </select>
      
            <select name="models">
                {{#each models}}
                    <option value="{{this.id}}">{{this.title}}</option>
                {{/each}}
            </select>
       
            <select name="minimum">
                {{#each minimum}}
                    <option value="{{this.id}}">{{this.title}}</option>
                {{/each}}
            </select>
    
            <select name="maximum">
                {{#each maximum}}
                    <option value="{{this.id}}">{{this.title}}</option>
                {{/each}}
            </select>
     
            <select name="mileage">
                {{#each mileage}}
                    <option value="{{this.id}}">{{this.title}}</option>
                {{/each}}
            </select>
   
            <select name="interiorColor">
                {{#each interiorColor}}
                    <option value="{{this.id}}">{{this.title}}</option>
                {{/each}}
            </select>
     
            <select name="exteriorColor">
                {{#each exteriorColor}}
                    <option value="{{this.id}}">{{this.title}}</option>
                {{/each}}
            </select>
      
            <select name="fuel">
                {{#each fuel}}
                    <option value="{{this.id}}">{{this.title}}</option>
                {{/each}}
            </select>

            <select name="door">
                {{#each door}}
                    <option value="{{this.id}}">{{this.title}}</option>
                {{/each}}
            </select>
        </form>  

</main>
