<main class="{{pageMainClass}}">
		<h1>{{title}}</h1>
		<p>{{msg}}</p>

    <form action='/indivCar' method='POST'>
<!-- /.container -->
 <div class="container bgcolor">
<!-- /.row -->
   <div class="row pad1">
     <div class="col-md-4">


  <label class="colortext">Brand</label>
  <div aria-labelledby="dropdownMenuButton">
     <select class="btn-outline btn dropdown-toggle btn-sm bg-white" name="brands">
         <option value=""></option>
         {{#each brands}}
            <option value="{{this}}">{{this}}</option>
          {{/each}}
      </select>
  </div>
</div>
<!-- </div> -->

  <div class="col-md-4"><!-- /.Drop down button -->

      <label class="colortext">Models</label>
      <div aria-labelledby="dropdownMenuButton">

     <select class="btn-outline btn dropdown-toggle btn-sm bg-white" name="models">
         <option value=""></option>
         {{#each models}}
            <option value="{{this}}">{{this}}</option>
          {{/each}}
            </select>

      </div>
    </div>

</div>


<!-- /.row -->
   <div class="row pad1">
     <div class="col-md-4 bg-info">

      <label class="colortext">mpg</label>
      <div aria-labelledby="dropdownMenuButton">

      <select class="btn-outline btn dropdown-toggle btn-sm bg-white" name="mpg">
          <option value=""></option>
          {{#each mpg}}
            <option value="{{this._id}}">{{this.title}}</option>
          {{/each}}
      </select>

      </div>
</div>

<div class="col-md-4"><!-- /.Drop down button -->

      <label class="colortext">fuel</label>
      <div aria-labelledby="dropdownMenuButton">

     <select class="btn-outline btn dropdown-toggle btn-sm bg-white" name="fuel">
         <option value=""></option>
         {{#each fuel}}
          <option value="{{this}}">{{this}}</option>
        {{/each}}
      </select>

      </div>
</div>
</div>

<!-- /.row -->
<div class="row">
  <div class="col-md-4">
    <label class="colortext">doors</label>
    <div aria-labelledby="dropdownMenuButton">
      <select class="btn-outline btn dropdown-toggle btn-sm bg-white" name="brands">
          <option value=""></option>
          {{#each door}}
        <option value="{{this}}">{{this}}</option>
          {{/each}}
      </select>
    </div>
  </div>

  <div class="col-md-4"><!-- /.Drop down button -->
    <label class="colortext">seats</label>
    <div aria-labelledby="dropdownMenuButton">
      <select class="btn-outline btn dropdown-toggle btn-sm bg-white" name="seats">
          <option value=""></option>
          {{#each seat}}
        <option value="{{this}}">{{this}}</option>
          {{/each}}
      </select>
    </div>

</div>
</div>

     <!-- /.row submit button -->
   <div class="row pad1">
	   <div class="col-md-4">

      <a class="nav-link" href="/carList"><input class="btn mt-n1" type="submit" value="Submit" id='rcorners2'></a>
     </div>
   </div>
</div>

     <!-- /.row submit button -->
   <div class="row">
	   <div class="col-md-4 bg-danger mt-n1">
      {{!-- <a class="nav-link" href="/indivCar"> --}}<input class="btn btn-primary" type="submit" value="Submit">{{!-- </a> --}}
     </div>
   </div>

 </div>
</form>
</main>