<main class="{{pageMainClass}}">
	<!-- <div style="background-image: url ('http://imageonthefly.autodatadirect.com/images/?height=220&img=USD00BMC012A021001.png&AUTOTRIM=2);">
	</div> -->
	<!-- <img src="http://imageonthefly.autodatadirect.com/images/?height=220&img=USD00BMC012A021001.png&AUTOTRIM=2" alt="stock car 1" width="auto" height="auto"> -->
	<!-- <h1>{{title}}</h1>
		<p>Welcome to {{msg}}</p>
	 <h3>{{group}} is having a great day so far</h3> -->

	<!--<form action="/" method="POST">
		<select name="Brand">
			{{#each brand}}
			<option value="{{this}}">{{this}}</option>
			{{/each}}
		</select>

		<select name="Model">
			{{#each model}}
			<option value="{{this}}">{{this}}</option>
			{{/each}}
		</select> -->



    <!-- dropdown button brand -->
    <form action="/indivCar" method="POST">
		<div class="dropdown">
		 	<button type="button" class="dropbtn" data-toggle="dropdown">Brand</button>
		 	<div aria-labelledby="dropdownMenuButton">
		    	<select class="btn btn-secondary dropdown-toggle btn-sm" name="brands">
		          {{#each brands}}
		            <option value="{{this}}">{{this}}</option>
		          {{/each}}
		      	</select>
		  	</div>
		</div>
		<!-- dropdown button model -->
		<div class="dropdown">
		 	<button class="dropbtn" data-toggle="dropdown">Model</button>
		 	<div aria-labelledby="dropdownMenuButton">
	      		<select class="btn btn-secondary dropdown-toggle btn-sm" name="models">
		          {{#each models}}
		            <option value="{{this}}">{{this}}</option>
	          	  {{/each}}
	            </select>
	      	</div>
		</div> 
		<button id= "btn" type="submit" >Search</button>
	</form>
		<h3> Find your next match! </h3>
		<!--- Button redirects to questionnaire -->
		<button id = "btn" onclick="window.location.href='/questionnaire'">Take Questionnaire</button>
		<!-- About Us Section -->
		<h2> About Us </h2>
		<p>CarMatch is a family company that loves to help people find the car of their dreams. We can help you find a car that fits you best in an easy and fast way.</p>

</main>
