<main class="{{pageMainClass}}">
	<h3>{{prompt}}</h3>
	{{#each response}}
		<div><em>{{this.make}} | {{this.body_type}} | {{this.fuel}} | {{this.doors}} Doors | {{this.seats}} Seats</em></div><br/>
	{{/each}}

	<!-- <div style="background-image: url ('http://imageonthefly.autodatadirect.com/images/?height=220&img=USD00BMC012A021001.png&AUTOTRIM=2);">
	</div> -->
	<!-- <img src="http://imageonthefly.autodatadirect.com/images/?height=220&img=USD00BMC012A021001.png&AUTOTRIM=2" alt="stock car 1" width="auto" height="auto"> -->
<h1>Home</h1>
    <!-- dropdown button brand -->
    <form action="/indivCar" method="POST">
		<div class="dropdown">
			<!-- needs label instead of buttons-->
		 <!--<button type="button" class="dropbtn" data-toggle="dropdown">Brand</button>-->
		 <h4>Brand</h4>	
		 	<div aria-labelledby="dropdownMenuButton">
		    	<select class="btn btn-secondary dropdown-toggle btn-lg" name="brands">
		    	  <option value=""></option>
		          {{#each brands}}
		            <option value="{{this}}">{{this}}</option>
		          {{/each}}
		      	</select>
		  	</div>
		</div>
		<!-- dropdown button model -->
		<div class="dropdown">

			<!-- needs label instead of buttons-->
		 	<!--<button class="dropbtn" data-toggle="dropdown">Model</button>-->
		 	<h4>Model</h4>	
		 	<div aria-labelledby="dropdownMenuButton">
	      		<select class="btn btn-secondary dropdown-toggle btn-lg" name="models">
	      		  <option value=""></option>
		          {{#each models}}
		            <option value="{{this}}">{{this}}</option>
	          	  {{/each}}
	            </select>
	      	</div>
		</div> 
		<button type="submit" class="btn-secondary btn-lg" onclick="window.location.href='/carList'">Search</button>
	</form>
	<h1></h1>
		<h3> Find your next match! </h3>
		<!--- Button redirects to questionnaire -->
		<button onclick="window.location.href='/questionnaire'" class="btn-lg">Take Questionnaire</button>
		<h1></h1>
		<!-- About Us Section -->
		<h3> About Us </h3>
		<p>CarMatch is a family company that loves to help people find the car of their dreams. We can help you find a car that fits you best in an easy and fast way.</p>

</main>
