<main class="{{pageMainClass}}">

    {{!--<!--
		<form>
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
          </div>
          <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
          </div>
          <br>
          <div class="form-group form-check">


        </form>



		<form action="/questionForm" method="POST">
            <select name="price">
                {{#each price}}
                    <option value="{{this.title}}">{{this.title}}</option>
                {{/each}}
            </select>

            <select name="seat">
                {{#each seat}}
                    <option value="{{this.title}}">{{this.title}}</option>
                {{/each}}
            </select>

            <select name="carType">
                {{#each carType}}
                    <option value="{{this.title}}">{{this.title}}</option>
                {{/each}}
            </select>

            <select name="personality">
                {{#each personality}}
                    <option value="{{this.title}}">{{this.title}}</option>
                {{/each}}
            </select>

            <select name="activity">
                {{#each activity}}
                    <option value="{{this.title}}">{{this.title}}</option>
                {{/each}}
            </select>

            <select name="driving">
                {{#each driving}}
                    <option value={{this.title}}>{{this.title}}</option>
                {{/each}}
            </select>

            <select name="attributes">
                {{#each attributes}}
                    <option value="{{this.title}}">{{this.title}}</option>
                {{/each}}
            </select>
            <input type="submit" value="Submit">
        </form>

-->{{--}}
    <div class="wrapper quizWrapper">
  <h1>Find Your Dream Car Today!</h1>
  <h5>Personality Questionnaire</h5>
  
  <form action='/carList' method='POST' id="formQuiz">
    <!-- Question 1 -->
    <h2>How Many Seats Would You Like In The Car?</h2>
    <!-- Here are the choices for the first question. Each input tag must have the same name. For this question, the name is q1. -->
    <!-- The value is which answer the choice corresponds to. -->
    <label><input type="radio" name="seats" value=1>
      2
    </label><br />
    <label><input type="radio" name="seats" value="2">
      4
    </label><br />
    <label><input type="radio" name="seats" value="3">
      5
    </label><br />
    <label><input type="radio" name="seats" value="4">
      7
    </label><br />
    <label><input type="radio" name="seats" value="5">
      8
    </label><br />
    <br>

    <!-- Question 2 -->
    <h2>What Car Type Are You Looking For?</h2>
    <!-- Here are the choices for the second question. Notice how each input tag has the same name (q2), but a different name than the previous question. -->
    <label><input type="radio" name="body_style" value="sedan">
      Sedan
    </label><br />
    <label><input type="radio" name="body_style" value="suv">
      SUV
    </label><br />
    <label><input type="radio" name="body_style" value="truck">
      Truck
    </label><br />
    <label><input type="radio" name="body_style" value="compact">
      Compact
    </label><br />
    <label><input type="radio" name="body_style" value="sports">
      Sports
    </label><br />
    <br>
    
    <!-- Question 3 -->
    <h2>What Is Your Personality Like?</h2>
    <!-- Choices for the third question -->
    <label><input type="radio" name="personality" value="5">
      Chilled
    </label><br />
    <label><input type="radio" name="personality" value="10">
      Assertive
    </label><br />
    <label><input type="radio" name="personality" value="9">
      Short-Tempered
    </label><br />
    <label><input type="radio" name="personality" value="8">
      Compassionate
    </label><br />
    <label><input type="radio" name="personality" value="11">
      Eco Friendly
    </label><br />
    <label><input type="radio" name="personality" value="13">
      Family Oriented
    </label><br />
    <label><input type="radio" name="personality" value="12">
      Autonomous
    </label><br />
    <label><input type="radio" name="personality" value="7">
      Likes To Impress
    </label><br />
    <label><input type="radio" name="personality" value="6">
      Here to Get The Job Done
    </label><br />
    <br>
    
    <!-- Question 4 -->
    <h2>What Do You Find Yourself Doing Most?</h2>
    <!-- Choices for the fourth question -->
    <label><input type="radio" name="activity" value="12">
      Family Road Trip &#38; Outings
    </label><br />
    <label><input type="radio" name="activity" value="9">
      Music Festivals
    </label><br />
    <label><input type="radio" name="activity" value="6">
      Commuting To Work
    </label><br />
    <label><input type="radio" name="activity" value="3">
      Date Night For Two
    </label><br />
    <br>
     <!-- Question 5 -->
    <h2>How Would You Describe Driving?</h2>
    <!-- Choices for the Fifth question -->
    <label><input type="radio" name="driving" value="9">
      Getting From Point A To Point B
    </label><br />
    <label><input type="radio" name="driving" value="3">
      Going Fast
    </label><br />
    <label><input type="radio" name="driving" value="12">
      Being Safe
    </label><br />
    <label><input type="radio" name="driving" value="6">
      Looking Good
    </label><br />
    <label><input type="radio" name="driving" value="15">
      Being Able To Drive With Groups
    </label><br />attributes
    <br>
      <!-- Question 6 -->
    <h2>What Is Most Imporant To You In Your Next Car? What Is Your First Priority You Have When Looking For A Car?</h2>
    <!-- Choices for the Sixth question -->
    <label><input type="radio" name="attributes" value="15">
      Longevity: Car Durability, Gas Mileage/Fuel Efficency
    </label><br />
    <label><input type="radio" name="attributes" value="25">
      Versatility: Off-Road And Work Usage 
    </label><br />
    <label><input type="radio" name="attributes" value="5">
      Exterior Design: Look And Style Purely To Impress
    </label><br />
    <label><input type="radio" name="attributes" value="10">
      Internal Design: Spacious Or Compact
    </label><br />
    <label><input type="radio" name="attributes" value="20">
      Brand Name &#38; Manufacurting: American Made Or Foreign
    </label><br />
    <button type="submit" id="submit" class="btnSubmit" onclick="tabulateAnswers()">Submit Your Answers</button>
  <button type="reset" id="reset"  class="btnReset" onclick="resetAnswer()">Reset</button>

  
  
  <div class="answer">Someone will be with you shortly with your results.</div>
  <p>Please Answer Honestly To Ensure Accurate Reults.</p>
  </form>
    </div>



</main>

