<main class="{{pageMainClass}}">
		<h1>{{title}}</h1>
		<p>{{msg}}</p>

		<form action="/questionForm" method="POST">
            <select name="price">
                {{#each price}}
                    <option value="{{this.title}}">{{this.title}}</option>
                {{/each}}
            </select>
      
            <select name="seat">
                {{#each seat}}
                    <option value="{{this.title}}">{{this.title}}</option>
                {{/each}}
            </select>
       
            <select name="carType">
                {{#each carType}}
                    <option value="{{this.title}}">{{this.title}}</option>
                {{/each}}
            </select>
    
            <select name="personality">
                {{#each personality}}
                    <option value="{{this.title}}">{{this.title}}</option>
                {{/each}}
            </select>
     
            <select name="activity">
                {{#each activity}}
                    <option value="{{this.title}}">{{this.title}}</option>
                {{/each}}
            </select>
   
            <select name="driving">
                {{#each driving}}
                    <option value={{this.title}}>{{this.title}}</option>
                {{/each}}
            </select>
     
            <select name="attributes">
                {{#each attributes}}
                    <option value="{{this.title}}">{{this.title}}</option>
                {{/each}}
            </select>
            <input type="submit" value="Submit">
        </form>  

</main>

