<main class="{{pageMainClass}}">

    {{!--<!--
		<form>
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
          </div>
          <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
          </div>
          <br>
          <div class="form-group form-check">


        </form>



		<form action="/questionForm" method="POST">
            <select name="price">
                {{#each price}}
                    <option value="{{this.title}}">{{this.title}}</option>
                {{/each}}
            </select>

            <select name="seat">
                {{#each seat}}
                    <option value="{{this.title}}">{{this.title}}</option>
                {{/each}}
            </select>

            <select name="carType">
                {{#each carType}}
                    <option value="{{this.title}}">{{this.title}}</option>
                {{/each}}
            </select>

            <select name="personality">
                {{#each personality}}
                    <option value="{{this.title}}">{{this.title}}</option>
                {{/each}}
            </select>

            <select name="activity">
                {{#each activity}}
                    <option value="{{this.title}}">{{this.title}}</option>
                {{/each}}
            </select>

            <select name="driving">
                {{#each driving}}
                    <option value={{this.title}}>{{this.title}}</option>
                {{/each}}
            </select>

            <select name="attributes">
                {{#each attributes}}
                    <option value="{{this.title}}">{{this.title}}</option>
                {{/each}}
            </select>
            <input type="submit" value="Submit">
        </form>

-->{{--}}

    <h1>Find Your Dream Car Today!</h1>
    <h4>Personality Questionnaire</h4>
    <div class="row wrapper quizWrapper">
  <section class="offset-md-2 col-12 col-md-8">

  <form action='/carList' method='POST' id="formQuiz">
    
    <!-- Question 1 -->
    <h3>How Many Seats Would You Like In The Car?</h3>
    <!-- Here are the choices for the first question. Each input tag must have the same name. For this question, the name is q1. -->
    <!-- The value is which answer the choice corresponds to. -->
    <section>
    <input id="rad_11" type="radio" name="seats" value="1">
    <label for="rad_11">2</label>
    <br>
    <input id="rad_11" type="radio" name="seats" value="2">
    <label for="rad_11">4</label>
    <br>
    <input id="rad_12" type="radio" name="seats" value="3">
    <label for="rad_12">5</label>
    <br>
    <input id="rad_13" type="radio" name="seats" value="4">
    <label for="rad_13">7</label>
    <br>
    <input id="rad_14" type="radio" name="seats" value="5">
    <label for="rad_14">8</label>
    <br>
    </section>
    <!-- Question 2 -->
    <h3>What Car Type Are You Looking For?</h3>
    <!-- Here are the choices for the second question. Notice how each input tag has the same name (q2), but a different name than the previous question. -->
    <section>
    <input id="rad_21" type="radio" name="body_style" value="sedan">
    <label for="rad_21">Sedan</label>
    <br>
    <input id="rad_22" type="radio" name="body_style" value="suv">
    <label for="rad_22">Suv</label>
    <br>
    <input id="rad_23" type="radio" name="body_style" value="truck">
    <label for="rad_23">Truck</label>
    <br>
    <input id="rad_24" type="radio" name="body_style" value="compact">
    <label for="rad_24">Compact</label>
    <br>
    <input id="rad_25" type="radio" name="body_style" value="sports">
    <label for="rad_25">Sport</label>
    </section>
    <br>
    <!-- Question 3 -->
    <h3>What Is Your Personality Like?</h3>
    <!-- Choices for the third question -->
    <section>
    <input id="rad_31" type="radio" name="personality" value="5">
    <label for="rad_31">Chilled</label>
    <br>
    <input id="rad_32" type="radio" name="personality" value="10">
    <label for="rad_32">Assertive</label>
    <br>
    <input id="rad_33" type="radio" name="personality" value="9">
    <label for="rad_33">Short-Temper</label>
    <br>
    <input id="rad_34" type="radio" name="personality" value="8">
    <label for="rad_34">Compassionate</label>
    <br>
    <input id="rad_35" type="radio" name="personality" value="11">
    <label for="rad_35">Eco Friendly</label>
    <br>
    <input id="rad_36" type="radio" name="personality" value="13">
    <label for="rad_36">Family</label>
    <br>
    <input id="rad_37" type="radio" name="personality" value="12">
    <label for="rad_37">Atonomous</label>
    <br>
    <input id="rad_38" type="radio" name="personality" value="7">
    <label for="rad_38">Likes To Impress</label>
    <br>
    <input id="rad_39" type="radio" name="personality" value="6">
    <label for="rad_39">Here To Get The Job Done</label>
    <br>
    </section>
    <br>
    <!-- Question 4 -->
    <h3>What Do You Find Yourself Doing Most?</h3>
    <!-- Choices for the fourth question -->
    <section>
    <input id="rad_41" type="radio" name="activity" value="12">
    <label for="rad_41">Family Road Trip and Outings</label>
    <br>
    <input id="rad_42" type="radio" name="activity" value="9">
    <label for="rad_42">Music Festival</label>
    <br>
    <input id="rad_43" type="radio" name="activity" value="6">
    <label for="rad_43">Commuting To Work</label>
    <br>
    <input id="rad_44" type="radio" name="activity" value="3">
    <label for="rad_44">Date Night For Two</label>
    </section>
    <br>
     <!-- Question 5 -->
    <h3>How Would You Describe Driving?</h3>
    <!-- Choices for the Fifth question -->
    <section>
    <input id="rad_51" type="radio" name="driving" value="9">
    <label for="rad_51">Getting From Point A To Point B</label>
    <br>
    <input id="rad_52" type="radio" name="driving" value="3">
    <label for="rad_52">Going Fast</label>
    <br>
    <input id="rad_53" type="radio" name="driving" value="12">
    <label for="rad_53">Being Safe</label>
    <br>
    <input id="rad_54" type="radio" name="driving" value="6">
    <label for="rad_54">Looking Good</label>
    <br>
    <input id="rad_55" type="radio" name="driving" value="15">
    <label for="rad_55">Being Able to Drive With Groups</label>
    </section>
    <br>
      <!-- Question 6 -->
    <h3>What Is Most Imporant To You In Your Next Car? What Is Your First Priority You Have When Looking For A Car?</h3>
    <!-- Choices for the Sixth question -->
    <section>
    <input id="rad_61" type="radio" name="attributes" value="15">
    <label for="rad_61">Longevity: Car Durability, Gas Mileage/Fuel Efficeny</label>
    <br>
    <input id="rad_62" type="radio" name="attributes" value="25">
    <label for="rad_62">Versatility: Off-Road And Work Usage</label>
    <br>
    <input id="rad_63" type="radio" name="attributes" value="5">
    <label for="rad_63">Exterior Design: Look And Style Purely To Impress</label>
    <br>
    <input id="rad_64" type="radio" name="attributes" value="10">
    <label for="rad_64">Internal Design: Spacious Or Compact</label>
    <br>
    <input id="rad_65" type="radio" name="attributes" value="20">
    <label for="rad_65">Brand Name and Manufacturing: American Made Or Foreign</label>
    </section>
    <br>
    <br>
    <button type="submit" id="submit" class="btnSubmit1" onclick="tabulateAnswers()">Submit Answers</button>
  <button type="reset" id="reset"  class="btnOrange" onclick="resetAnswer()">Reset</button>

  
  
  <div class="answer">Someone will be with you shortly with your results.</div>
  <p>Please Answer Honestly To Ensure Accurate Reults.</p>

  </form>
</section>
    </div>



</main>

