<main class="{{pageMainClass}}">
		<h1>{{title}}</h1>
    {{!--<!--
		<form>
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
          </div>
          <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
          </div>
          <br>
          <div class="form-group form-check">


        </form>



		<form action="/questionForm" method="POST">
            <select name="price">
                {{#each price}}
                    <option value="{{this.title}}">{{this.title}}</option>
                {{/each}}
            </select>

            <select name="seat">
                {{#each seat}}
                    <option value="{{this.title}}">{{this.title}}</option>
                {{/each}}
            </select>

            <select name="carType">
                {{#each carType}}
                    <option value="{{this.title}}">{{this.title}}</option>
                {{/each}}
            </select>

            <select name="personality">
                {{#each personality}}
                    <option value="{{this.title}}">{{this.title}}</option>
                {{/each}}
            </select>

            <select name="activity">
                {{#each activity}}
                    <option value="{{this.title}}">{{this.title}}</option>
                {{/each}}
            </select>

            <select name="driving">
                {{#each driving}}
                    <option value={{this.title}}>{{this.title}}</option>
                {{/each}}
            </select>

            <select name="attributes">
                {{#each attributes}}
                    <option value="{{this.title}}">{{this.title}}</option>
                {{/each}}
            </select>
            <input type="submit" value="Submit">
        </form>

-->{{--}}<form>
    <div id="wrapper">
  <h1>Find Your Dream Car Today!</h1>
  <p>Take this questionnaire to see what best suits you!</p>
  
  <form id="quiz">
    <!-- Question 1 -->
    <h2>How Many Seats Would You Like In The Car?</h2>
    <!-- Here are the choices for the first question. Each input tag must have the same name. For this question, the name is q1. -->
    <!-- The value is which answer the choice corresponds to. -->
    <label><input type="radio" name="q1" value="c1">
      2
    </label><br />
    <label><input type="radio" name="q1" value="c2">
      4
    </label><br />
    <label><input type="radio" name="q1" value="c3">
      6
    </label><br />
    <label><input type="radio" name="q1" value="c4">
      8
    </label><br />
    <br>

    <!-- Question 2 -->
    <h2>What Car Type Are You Looking For?</h2>
    <br>
    <!-- Here are the choices for the second question. Notice how each input tag has the same name (q2), but a different name than the previous question. -->
    <label><input type="radio" name="q2" value="c1">
      Sedan
    </label><br />
    <label><input type="radio" name="q2" value="c2">
      SUV
    </label><br />
    <label><input type="radio" name="q2" value="c3">
      Truck
    </label><br />
    <label><input type="radio" name="q2" value="c4">
      Compact
    </label><br />
    <label><input type="radio" name="q2" value="c8">
      Sports
    </label><br />
    <br>
    
    <!-- Question 3 -->
    <h2>What Is Your Personality Like?</h2>
    <br>
    <!-- Choices for the third question -->
    <label><input type="radio" name="q3" value="c1">
      Chilled
    </label><br />
    <label><input type="radio" name="q3" value="c2">
      Assertive
    </label><br />
    <label><input type="radio" name="q3" value="c3">
      Short-Tempered
    </label><br />
    <label><input type="radio" name="q3" value="c4">
      Compassionate
    </label><br />
    <label><input type="radio" name="q3" value="c5">
      Eco Friendly
    </label><br />
    <label><input type="radio" name="q3" value="c6">
      Family Oriented
    </label><br />
    <label><input type="radio" name="q3" value="c7">
      Autonomous
    </label><br />
    <label><input type="radio" name="q3" value="c8">
      Likes To Impress
    </label><br />
    <label><input type="radio" name="q3" value="c9">
      Here to Get The Job Done
    </label><br />
    <br>
    
    <!-- Question 4 -->
    <h2>What Do You Find Yourself Doing Most?</h2>
    <br>
    <!-- Choices for the fourth question -->
    <label><input type="radio" name="q4" value="c1">
      Family Road Trip &#38; Outings
    </label><br />
    <label><input type="radio" name="q4" value="c2">
      Music Festivals
    </label><br />
    <label><input type="radio" name="q4" value="c3">
      Commuting To Work
    </label><br />
    <label><input type="radio" name="q4" value="c4">
      Date Night For Two
    </label><br />
    <br>
     <!-- Question 5 -->
    <h2>How Would You Describe Driving?</h2>
    <br>
    <!-- Choices for the Fifth question -->
    <label><input type="radio" name="q4" value="c1">
      Getting From Point A To Point B
    </label><br />
    <label><input type="radio" name="q4" value="c2">
      Going Fast
    </label><br />
    <label><input type="radio" name="q4" value="c3">
      Being Safe
    </label><br />
    <label><input type="radio" name="q4" value="c4">
      Looking Good
    </label><br />
    <label><input type="radio" name="q4" value="c5">
      Being Able To Drive With Groups
    </label><br />
    <br>
      <!-- Question 6 -->
    <h2>What Is Most Imporant To You In Your Next Car? What Is Your First Priority You Have When Looking For A Car?</h2>
    <br>
    <!-- Choices for the Sixth question -->
    <label><input type="radio" name="q4" value="c1">
      Longevity: Car Durability, Gas Mileage/Fuel Efficency
    </label><br />
    <label><input type="radio" name="q4" value="c2">
      Versatility: Off-Road And Work Usage 
    </label><br />
    <label><input type="radio" name="q4" value="c3">
      Exterior Design: Look And Style Purely To Impress
    </label><br />
    <label><input type="radio" name="q4" value="c4">
      Internal Design: Spacious Or Compact
    </label><br />
    <label><input type="radio" name="q4" value="c1">
      Brand Name &#38; Manufacurting: American Made Or Foreign
    </label><br />
    <br>
    <button type="submit" id="submit" onclick="tabulateAnswers()">Submit Your Answers</button>
  <button type="reset" id="reset" onclick="resetAnswer()">Reset</button>
  </form>
  
  
  <div id="answer">Your result will show up here!</div>
</div>



          </form>
		<p>{{msg}}</p>
</main>

